<p id="notice"><%= notice %></p>

<h1>Forums</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Forum</th>
      <th>Last Post</th>
    <% if current_user && current_user.admin %>
      <th>Actions</th>
    <% end %>
    </tr>
  </thead>

  <tbody>
    <% @forums.each do |forum| %>
      <tr>
        <td>
          <h4><%= link_to (forum.name), forum_path(forum.id) %></h4>
          <small><%= pluralize(forum.topics.count, "topic") %></small>
          <br>
          <%= forum.description %>
        </td>
        <td class="right">
          <% if forum.most_recent_post %>
            Posted at <%= forum.most_recent_post.last_post_at %>
          <% else %>
            No posts yet
          <% end %>
        </td>
        <% if current_user && current_user.admin %>
          <td><%= link_to forum, class: "btn btn-sm btn-primary" do %>
                        <i class="fa fa-eye"></i> <strong>SHOW</strong>
              <% end %>
              <br>
              <%= link_to edit_forum_path(forum), class: "btn btn-sm btn-warning" do %>
                        <i class="fa fa-wrench"></i> <strong>EDIT</strong>
              <% end %>
              <br>
              <%= link_to forum, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-sm btn-danger" do %>
                        <i class="fa fa-bomb"></i> <strong>DESTROY</strong>
              <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user && current_user.admin %>
  <%= link_to new_forum_path, class: "btn btn-l btn-success" do %>
    <i class="fa fa-plus"></i> <strong>New Forum</strong>
  <% end %>
<% else end %>