<p id="notice"><%= notice %></p>

<h1>Forums</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Forum</th>
      <th>Last Post</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @forums.each do |forum| %>
      <tr>
        <td>
          <h4><%= link_to (forum.name), forum_path(forum.id) %></h4>
          <small><%= forum.topics.count %> topics</small>
          <br>
          <%= forum.description %>
        </td>
        <td><%= forum.description %></td>
        <td><%= link_to 'Show', forum %></td>
        <td><%= link_to 'Edit', edit_forum_path(forum) %></td>
        <td><%= link_to 'Destroy', forum, method: :delete, confirm: 'Are you sure?' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user && current_user.admin %>
  <%= link_to new_forum_path, class: "btn btn-xl btn-success" do %>
    <i class="fa fa-plus"></i> <strong>New Forum</strong>
  <% end %>
<% else end %>