<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @forum.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @forum.description %>
</p>

<table class="table table-bordered table-striped">
  <tr>
    <th width="60%">Topic Title</th>
    <th width="10%">Replies</th>
    <th width="30%">Last Post</th>
  </tr>
  <% @forum.topics.each do |topic| %>
    <tr>
      <td><%= link_to (topic.name), [ @forum, topic ] %>
      <td><%= topic.posts.count %></td>
      <td class="right"></td>
      <td><%= link_to "Show", [ @forum, topic ] %></td>
      <td><%= link_to "Edit", edit_forum_topic_path( @forum, topic ) %></td>
      <td><%= link_to "Destroy", [ @forum, topic ], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
 
<%= link_to new_forum_topic_path(@forum), class: "btn btn-primary", style: "color: #FFF;" do %>
    <i class="fa fa-plus"></i> <strong>New Topic</strong>
<% end %>

<% if current_user && current_user.admin %>
	<%= link_to edit_forum_path(@forum), class: "btn btn-warning", style: "color: #FFF;" do %>
    <i class="fa fa-edit"></i> <strong>Edit</strong>
	<% end %>
<% end %>
<%= link_to forums_path, class: "btn btn-dark", style: "color: #FFF;" do %>
    <i class="fa fa-backward"></i> <strong>Back</strong>
<% end %>
