<p id="notice"><%= notice %></p>

<h3>
  <strong>Forum Name:</strong>
  <%= @forum.name %>
</h3>

<p>
  <strong>Description:</strong>
  <%= @forum.description %>
</p>

<table class="table table-bordered table-striped">
  <tr>
    <th width="40%">Topics</th>
    <th width="10%">Replies</th>
    <th width="25%">Last Post</th>
<% if current_user && current_user.admin %>
    <th width="25%">Actions</th>
<% end %>
  </tr>
  <% @forum.topics.each do |topic| %>
    <tr>
      <td><%= link_to (topic.title), [ @forum, topic ] %>
      <td><%= topic.posts.count %></td>
      <td class="right"></td>
      <% if current_user && current_user.admin %>
        <td><%= link_to [ @forum, topic ], class: "btn btn-xs btn-primary" do %>
              <i class="fa fa-eye"></i> <strong>SHOW</strong>
            <% end %>
            <%= link_to edit_forum_topic_path( @forum, topic ), class: "btn btn-xs btn-warning" do %>
              <i class="fa fa-wrench"></i> <strong>EDIT</strong>
            <% end %>
            <%= link_to [ @forum, topic ], method: :delete, confirm: 'Are you sure?', class: "btn btn-xs btn-danger" do %>
              <i class="fa fa-bomb"></i> <strong>DESTROY</strong>
            <% end %>
      <% end %>
    </tr>
  <% end %>
</table>
<!-- New Topic button -->
  <% if current_user %> 
  <%= link_to new_forum_topic_path(@forum), class: "btn btn-primary", style: "color: #FFF;" do %>
      <i class="fa fa-plus"></i> <strong>New Topic</strong>
  <% end %>
<% end %>
<!-- Edit Forum button -->
<% if current_user && current_user.admin %>
	<%= link_to edit_forum_path(@forum), class: "btn btn-warning", style: "color: #FFF;" do %>
    <i class="fa fa-edit"></i> <strong>Edit</strong>
	<% end %>
<% end %>
<!-- Back button -->
<%= link_to forums_path, class: "btn btn-dark", style: "color: #FFF;" do %>
    <i class="fa fa-backward"></i> <strong>Back</strong>
<% end %>
