<%= form_for([ @forum, topic ]) do |f| %>
  <div class="form-group">
    <% if topic.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

        <ul>
        <% topic.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.text_field :title, placeholder: "Title", class: "form-control" %>
    </div>

    <div class="field">
      <%= f.fields_for :posts do |p| %>
          <%= p.label :content %><br>
          <%= p.cktext_area :content, class: 'ckeditor' %>
      <% end %>
    </div>

    <div class="form-group actions">   
      <%= f.submit 'Create Topic', class: "btn btn-l btn-success" %>
    </div>
  </div>
<% end %>
