<p id="notice"><%= notice %></p>

<h1>Topics</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Last poster</th>
      <th>Last post at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
      <tr>
        <td><%= topic.name %></td>
        <td><%= topic.last_poster_id %></td>
        <td><%= topic.last_post_at %></td>
        <td class="right"></td>
        <td><%= link_to "Show", [ @forum, topic ] %></td>
        <td><%= link_to "Edit", edit_forum_topic_path( @forum, topic ) %></td>
        <td><%= link_to "Destroy", [ @forum, topic ], :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Topic', new_forum_topic_path(@forum) %>
