<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <em><%= @topic.title %></em>
</p>

<p>
  <strong>Last poster:</strong>
  <%= @topic.last_poster_id %>
</p>

<p>
  <strong>Last post at:</strong>
  <%= @topic.last_post_at %>
</p>

<!-- <p>
  <strong>Tags:</strong>
  <%= @topic.tags %>
</p> -->

<p>
  <strong>Forum:</strong>
  <%= @topic.forum.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @topic.user.username %>
</p>

<%= link_to 'Edit', edit_forum_topic_path(@forum, @topic) %> |
<%= link_to 'Back', forum_path(@forum) %>
