<p id="notice"><%= notice %></p>

<div id="topicHeading">
  <h3 id="topicTitle"><span style="color: #ff54e8;">topic</span> <%= @topic.title %> <span style="color: #88f738;">< <em><%= @forum.name %></em></span></h3>
  <br>
  <table class="table table-bordered">
    <tr>
      <td>
        <strong>Last post by </strong>
        <em><%= @topic.posts.last.user.username %></em>
        on <%= @topic.posts.last.updated_at.to_time.strftime("%D at %I:%M %p") %>
      </td>
      <td>
        <strong>Started by:</strong>
         <em><%= @topic.posts.first.user.username %></em>
         on <%= @topic.created_at.to_time.strftime("%D at %I:%M %p") %>
      </td>
    </tr>
  </table>
    <% if @topic.posts.any? %>
      <% @topic.posts.each do |post| %>
        <div class="panel panel-default panel-themed">
          <div class="panel-heading"><%= post.created_at.to_time.strftime("%D at %I:%M %p") %> by <strong><%= post.user.username %></strong></div>
          <div class="panel-body"><%= sanitize post.content %></div>
        </div>
      <% end %>
    <% else %>
      <br>
      <div class="jumbotron">
        <h3>Nothing to see here...</h3>
      </div>
    <% end %>

<!--New Post Form -->
  <div class="panel panel-default panel-themed collapse" id="newPostForm">
      <div class="panel-heading">New Post</div>
      <%= render partial: "posts/form" %>
  </div>  
<!-- end new post form -->

</div>
<br>
<div id="centered-controls">
  <%= link_to forum_path(@forum), class: "btn btn-dark", style: "color: #FFF;" do %>
      <i class="fa fa-backward"></i> <strong>Topics</strong>
  <% end %>
  <% if current_user %>
    <% if current_user.admin %>
      <%= link_to edit_forum_topic_path(@forum, @topic), class: "btn btn-warning", style: "color: #FFF;" do %>
        <i class="fa fa-edit"></i> <strong>Edit</strong>
          <% end %>
      <% end %>

      <!-- Link to New Post Form -->
      <%= link_to "#newPostForm", class: "btn btn-info", "data-toggle": "collapse", id: "beginNewPostButton" do %>
        <strong>Post a Response </strong><i class="fa fa-forward"></i>
      <% end %>
      <!-- end link to new post form -->
      
      <%= link_to "#newPostForm", class: "editing-buttons-hidden btn btn-danger", "data-toggle": "collapse", id: "newPostButton" do %>
        <i class="fa fa-bomb"></i><strong> Cancel</strong>
      <% end %>
      <%= link_to "", onclick: "$('#newPost').submit()", class: "editing-buttons-hidden btn btn-success", id: "newPostButton", form: "newPostForm" do %>
        <i class="fa fa-check"></i><strong> Submit Post</strong>
      <% end %>
  <% else %>
    <strong><%= link_to "Sign Up", new_user_path, id: "loginLinks" %>
    or
    <%= link_to "Log In", new_session_path, id: "loginLinks" %>
    to repond</strong>
  <% end %>
</div>
