<div class="modal-dialog">
  <div class="spinner">
    <%= image_tag "loading.gif" %>
  </div>
  <div class="modal-content">
      <div id="registration-form">
        <h1>Sign Up</h1>
        <%= form_for @user, remote: true, html: { style: "display:inline;" } do |f| %>
        <div class="modal-body">
          <ul class="errors"></ul>
          <div class="field">
            <%= f.label :email %><br>
            <%= f.email_field :email, required: true, autofocus: true, placeholder: "Enter a valid email" %>
          </div>
          <div class="field">
            <%= f.label :username, 'Username' %><br>
            <%= f.text_field :username, required: true, placeholder: "Pick a username" %>
          </div>
          <div class="field">
            <%= f.label :password %><br>
            <%= f.password_field :password, required: true, placeholder: "Create a password" %>
            <p id="form-tip">Passwords must be at least <strong>8 characters</strong> in length and contain at least <strong>one upper case letter</strong>, <strong>one lower case letter</strong>, and <strong>one number or special character</strong>.</p>
          </div>
          <div class="field">
            <%= f.label :password_confirmation %><br>
            <%= f.password_field :password_confirmation, required: true, placeholder: "Password again" %>
          </div>

          <%= render 'recaptcha' %>

          <div class="modal-footer actions">
            <%= f.submit "Sign Up", class: "btn btn-l btn-success"%>
            <%= link_to "Cancel", "#", class: "btn btn-l btn-danger", data: {dismiss: "modal"} %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <script>
    $(".spinner").hide();
    // $(".g-recaptcha").grecaptcha.reset();

    // $(document).ajaxStart(function() {
    //   $(".modal-content").fadeOut('slow');
    //   $(".spinner").fadeIn('slow');
    // }).ajaxStop(function() {
    //     $(".spinner").hide();
    // });
  </script>
</div>