<div id="registration-form" class="panel panel-default">
  <h1>Sign Up</h1>
  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :email %><br>
      <%= f.email_field :email, required: true %>
    </div>
    <div class="field">
      <%= f.label :username, 'Username' %><br>
      <%= f.text_field :username, required: true %>
    </div>
    <div class="field">
      <%= f.label :password %><br>
      <%= f.password_field :password, required: true %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %><br>
      <%= f.password_field :password_confirmation, required: true %>
    </div>
    <br><%= recaptcha_tags %><br>
    <%= link_to new_user_path, class: "btn btn-l btn-success" do %>
      <i class="fa fa-hand-o-right"></i> <strong>Sign Up</strong>
    <% end %>
  <% end %>
</div>
