<footer>
	<div class="container">
		<div id="about-author">
			<%= image_tag "mark-locklear.jpg" %>
			<h3>About the Author</h3>
			<p><strong>Mark Locklear</strong> is a web developer at the eXtension Initiative and has 20 years of IT experience including network administration, quality assurance, and software development. He is an Adjunct Instructor at Asheville Buncombe Technical Community College and is passionate about education and teaching students software development.</p>
			<%= link_to "Visit Mark's Homepage", "http://locklear.me/", target: "_blank" %>
			<div class="author-social">
				<%= link_to "http://www.twitter.com/marklocklear", target: "_blank" do%><i class="fa fa-twitter fa-2x"></i><% end %>
				<%= link_to "http://www.github.com/marklocklear", target: "_blank" do%><i class="fa fa-github fa-2x"></i><% end %>
				<%= link_to "https://www.linkedin.com/in/mark-locklear-3a8719", target: "_blank" do%><i class="fa fa-linkedin fa-2x"></i><% end %>
			</div>
		</div>
		<div id="book-info">
			<h3>Book Info:</h3>
			<ul><li><strong>Languages: </strong>English, Portugese</li>
					<li><strong>Date Published: </strong>5/2016</li>
					<li><strong>Paperback: </strong>400 pages</li>
					<li><strong>ISBN: </strong>978-1-4919-2619-2</li></ul>
		</div>
	</div>
</footer>
