<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        Menu                       
      </button>
      <%= link_to "Buy eBook", "http://shop.oreilly.com/product/0636920039822.do", class: "btn btn-dark navbar-toggle", style: "color: #FFF; background-color: #B63E97;", target: "_blank" %>
      <%= link_to "Learning Rails 5", root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to "Home", root_path %></li> 
        <li><%= link_to "Preface", preface_path %></li> 
        <li><%= link_to "Errata", errata_path %></li>
        <li><%= link_to "Examples", examples_path %></li>
        <li><%= link_to "Screencasts", screencasts_path %></li>
        <li><%= link_to "Forum", forums_path %></li>
        <!-- <li><%= link_to "Forum", forums_path %></li> -->
        <li class="share-button dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><i class="fa fa-share-square-o"></i>Share</a>
            <ul class="dropdown-menu share-menu">
              <li><i class="fa fa-pinterest fa-2x"></i></li>
              <li><i class="fa fa-twitter fa-2x"></i></li>
              <li><i class="fa fa-facebook fa-2x"></i></li>
              <li><i class="fa fa-google-plus fa-2x"></i></li>
              <li><i class="fa fa-paper-plane fa-2x"></i></li>
            </ul>
        </li>
        <% if current_user %>
          <li><%= link_to session_path("current"), class: "btn btn-sm btn-dark", method: "delete" do %>
              <i class="fa fa-sign-out"> Log Out</i>
            <% end %>
          </li>
        <% else %>
          <li><%= link_to new_user_path, class: "btn btn-sm btn-dark", remote: true, data: { toggle: "modal", target: "#new_user_modal"} do%>
              <i class="fa fa-user-plus"> Sign Up</i>
            <% end %>
          </li>
          <li><%= link_to new_session_path, class: "btn btn-sm btn-light", remote: true, data: { toggle: "modal", target: "#new_session_modal"} do%>
              <i class="fa fa-sign-in"> Log In</i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<!-- Sign Up Modal -->
<div class="modal fade" id="new_user_modal" role="dialog" aria-labelledby="sign-up-form" aria-hidden="true"></div>
<!-- Log In Modal -->
<div class="modal fade" id="new_session_modal" role="dialog" aria-labelledby="log-in-form" aria-hidden="true"></div>

<script>
  $("ul.nav.navbar-nav>li a").on("click", function(){
    $("ul.nav.navbar-nav").find(".active").removeClass("active");
    $(this).parent().addClass("active");
  });
</script>