<!DOCTYPE html>
<html>
  <head>
    <title>Learning Rails 5 - Available from O'Reilly Media</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <meta name="viewport" content="width=device-width">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag(source='book-icon.jpg') %>
  </head>

  <body>
    <!-- render main navigation partial -->
    <%= render 'navigation' %>
    <div id="alert-area">
    <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
    </div>
    <main>
      <%= render 'heading' %>
      <br>
      <%= yield %>
      <!-- Empty "Push" div for Fait sticky footer -->
      <div class="push"></div>
    </main>
    <!-- render footer partial -->
    <!--<%= render 'footer' %>-->
  </body>
</html>
