<!DOCTYPE html>
<html>
  <head>
    <title>RailsBookForum</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag(source='book-icon.jpg') %>
  </head>

  <body>
    <!-- render main navigation partial -->
    <%= render 'navigation' %>
    <main>

      <%= yield %>

    </main>
    <!-- render footer partial -->
    <%= render 'footer' %>
  </body>
</html>
